* {
font-family:'Segoe UI Light';
}
body {
    background-color:#fff;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI Light';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    margin:5%;
}
.abc {
    font-family: 'Segoe UI Light';
}

.click {

}
/* Set width on the form input elements since they're 100% wide by default */


