@using System.Web.Mvc.Html;
@using System.Web.Mvc;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>IMS</title>

    
    @*<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />*@
    <!-- Custom style for this tempalte-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.7.1.js" ></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading">Inventory Portal</div>
            <div class="list-group list-group-flush">
                @*<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>*@
                <a href="~/Users/Index" class="list-group-item list-group-item-action bg-light">Users</a>
                <a href="~/Roles/Index" class="list-group-item list-group-item-action bg-light">Roles</a>
                <a href="~/Categories/Index" class="list-group-item list-group-item-action bg-light">Categories</a>
                <a href="~/Suppliers/Index" class="list-group-item list-group-item-action bg-light">Suppliers</a>
                <a href="~/PurchaseInvoice/Create" class="list-group-item list-group-item-action bg-light">Purchase Invoice</a>


            </div>
        </div>
        <!-- /#Sidebar wrapper-->
        <!--Page Content-->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                @*<div class="container-fluid">*@
                    <button class="btn btn-primary" id="sidebarToggle">Show/Hide</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item active">
                                Welcome @Session["name"] @Html.ActionLink("Logout","Logout","Auth")
                            </li>
                        </ul>
                    </div>
                @*</div>*@
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
               @RenderBody()
            </div>
        </div>
    </div>


    <!-- Bootstrap core JS-->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>-->
    <!-- Core theme JS-->
    <!--<script src="js/scripts.js"></script>-->
</body>
</html>
